@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.icon{
  width: 50px ;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 50%;
  color: black;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 50px;
}
.completed{
     background-color: #00856a;
    color: white;
    border-radius: 5px;
}